html,
body {
  background-color: #121316;
  color: hsla(0, 0%, 100%, 0.6);

  font-family: "SplineSans", system-ui, -apple-system, BlinkMacSystemFont,
    "Helvetica Neue", Helvetica, Arial, sans-serif;

  font-size: 12px;
  letter-spacing: 0.3px;
}
